default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username:
  password:

development:
  <<: *default
  database: github_search_development

test:
  <<: *default
  database: github_search_test

production:
  <<: *default
  database: github_search_production
  username: github_search
  password: <%= ENV['GITHUB_SEARCH_DATABASE_PASSWORD'] %>
